<ion-view title="Confirmation">
    <ion-content padding="true" class="has-header">
        <div class="padding-bottom" style="text-align: center; background-color: rgb(255, 255, 255);">
            <img src="/img/Union-St-Logo.png" alt="" style="vertical-align: middle; width: 70%;">



        <h2>Thank you for your order!</h2>
        <p>You can expect a text alerting you it's ready for pickup shortly.<br />Call us with any questions at <a href="tel:0393810857">(039)381-0857</a></p>
    </div>
  </ion-content>